 <md-card>

 <md-card-header>
    <md-card-title>RESET PASSWORD</md-card-title>
    <md-icon>screen_lock_portrait</md-icon>
  </md-card-header>
  <md-card-content>
      <form (ngSubmit)="onSubmit()" #formData="ngForm">
    <p>Please enter the registered email-id and click Reset password button. A link to reset your password
      wil be sent to your mail.
    </p>
    <md-input-container class="full-width">
      <input mdInput type="email" placeholder="EMAIL ID"
      ngModel name="email"  #email="ngModel" [(ngModel)]="emailValue"
      required email>
       <input mdInput  type="email"  [hidden]="true" placeholder="EMAIL ID" value="emailCheck"
       name="emailCheck" [(ngModel)]="emailCheck" #emailCh="ngModel" [notEqualTo]="email"> 
    </md-input-container>
    <div style="display: inline-block" *ngIf="email.errors?.email && email.touched">
              <div class="example-tooltip-host" mdTooltip="Valid email please" mdTooltipPosition="before">
                 <div >
                   <md-icon id="error">priority_high</md-icon>
                 </div>
              </div>
            </div>
    <div style="display: inline-block" *ngIf="emailCh.errors?.notEqualTo && !email.errors?.email">
              <div class="example-tooltip-host" mdTooltip="Email is not registered" mdTooltipPosition="before">
                 <div >
                   <md-icon id="error">priority_high</md-icon>
                 </div>
              </div>
            </div>
             <button md-raised-button color='primary' type='submit'
              [disabled]="!formData.valid && !canSubmit" >Reset Password</button>
                <div *ngIf="response">
  <md-progress-bar mode="indeterminate"></md-progress-bar>
  </div>
    </form>
  </md-card-content>

    <md-card-actions>

  <a md-button routerLink="" style="margin-right: 10%;color: #3f51b5;">BACK TO LOGIN</a> 
 
  <a md-button routerLink="/register"  style="margin-left: 10%;color: #3f51b5;">REGISTER</a> 
  
  </md-card-actions>
  </md-card>