/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@media only screen and (max-width: 1080px) {
html{
    font-family: 'Roboto', sans-serif;
    background: #5e42a6; /* fallback for old browsers */
}

#error{
  font-size: 25px; 
  color: rgba(255, 0, 0, 0.6);
  margin: 0px 0px;
}

#errorTxt{
  font-size: 15px; 
  color: rgba(255, 0, 0, 0.6);
  margin: 0px 0px;
}

}
/*desktop css*/
@media only screen and (min-width: 1080px) {
  html{
    font-family: 'Roboto', sans-serif;
   background: -webkit-linear-gradient(left, #312450 0%,#312450 20%, #5e42a6 20%,#5e42a6 100%);
}


}