<md-card class="content">
  <md-card-header>
    <md-card-title>LOGIN TO TRACK YOUR DEVICE</md-card-title>
  </md-card-header>
  <md-card-content>
    <form (ngSubmit)="onSubmit(formData)" #formData="ngForm">
    <table class="full-width" cellspacing="0"><tr><td>
      <div class="form-group">
    <md-input-container class="full-width">
      <input mdInput (click)="onClick()" type="email" placeholder="EMAIL ID"
      ngModel name="email"
      pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
      required>
    </md-input-container>
      </div>
    </td>
    </tr>
    <tr><td>
      <div class="form-group">
    <md-input-container class="full-width">
      <input mdInput type="password" (click)="onClick()" placeholder="PASSWORD"
       ngModel name="password"
       required>
    </md-input-container>
      </div>
    </td>
    </tr>
    <tr><td>
    <button md-raised-button color='primary' type='submit' [disabled]="!formData.valid" >LOGIN</button></td>
    </tr>
    </table>
   <div> {{errorMessage}}</div>
    </form>
  </md-card-content>
  <md-card-actions>

  <a md-button routerLink="." class="fp" style="margin-right: 10%;">Forgot Password?</a> 
 
  <a md-button routerLink="register"  style="margin-left: 10%;">New User?</a> 
  
  </md-card-actions>
</md-card>
