.content{
    width:100%;
    min-width: 25%;
    max-width: 300px;
    max-height: 700px;
    min-height: 250px;
    margin:5% auto 0 auto;
}
md-card{
    margin:10px;
    }


md-card-title{
    margin: 13px;
     font-weight: bold;
}

md-card-content{
    margin:5px;
}

.full-width {
  margin-left: 8%;
  width: 80%;
}

.fp{
    font-size:''; 
    font-weight: lighter;
}


md-card-header{
color : white;
background-color: #3f51b5;
}

.content{
  background-color: #f9f9f9;
}