@media only screen and (max-width: 1080px) {
.content{
    width:50%;
    margin:0 auto;
}
md-card{
    margin:10px;
    }

md-card-content{
    margin:5px;
}

.angularApplication{
  background-image: url(/assets/images/intro.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}
}
/*desktop css*/
@media only screen and (min-width: 1080px) {

    .header{
        float: left;
        background-color: #312450;

    }

    .routing{
        width: 80%;
          float: right;  
            background-image: url(/assets/images/intro.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:scroll ;
  
    }


    

}
