.content{
    width:50%;
    margin:0 auto;
}
md-card{
    margin:10px;
    }

md-card-content{
    margin:5px;
}
.header{
     display: -webkit-flex;
    display: none;
}

.con{
    background-image: url(../assets/images/intro.svg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-color: red;
}
