@media only screen and (max-width: 1080px) {
.head{
    background-color: #312450;
}

.txt{
    height:5%;
    width: 30%;
    min-height: 50px;
    min-width: 150px;
    float: right;
 
}


.owl{
height:8%;
    width: 5%;
       min-height: 25px;
    min-width: 40px;
    float: left;
}
}
/*desktop css*/
@media only screen and (min-width: 1080px) {

.head{
    background-color: #312450;
    margin:90% 0% 0% 0%;
}

.owl{
   max-height: 150px;

margin-left:50%;

}

.txt{
display: none;
 max-height: 50px;
}

}
