  <md-toolbar color="primary">
  <span class="title">LOCATION TRACKER</span>
<div *ngIf="(router.url != '/register')">
  <span *ngIf="(router.url != '/')">
    <button md-icon-button [mdMenuTriggerFor]="menu"  *ngIf="(router.url != '/login')">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu" > 
  <button md-menu-item>
    <md-icon>create</md-icon>
    <span>Edit Profile</span>
  </button>
  <button md-menu-item>
    <md-icon>headset_mic</md-icon>
    <span>Contact Us</span>
  </button>
    <button md-menu-item (click)="onSignOut()">
    <md-icon>power_settings_new</md-icon>
    <span>Sign Out</span>
  </button>
</md-menu>
  </span>
</div>
  </md-toolbar>