  <md-toolbar color="primary">
  <span class="title"><img class="owl" src="/assets/images/logo.png">
  <img class="txt" src="/assets/images/logotext2.png"></span>
<div *ngIf="(router.url != '/register') && (router.url != '/resetPassword')">
  <span *ngIf="(router.url != '/')">
    <button md-icon-button [mdMenuTriggerFor]="menu"  *ngIf="(router.url != '/login')">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu" > 
  <button md-menu-item>
    <md-icon>mode_edit</md-icon>
    <span>Edit Profile</span>
  </button>
  <button md-menu-item>
    <md-icon>headset_mic</md-icon>
    <span>Contact Us</span>
  </button>
    <button md-menu-item (click)="onSignOut()">
    <md-icon>power_settings_new</md-icon>
    <span>Sign Out</span>
  </button>
</md-menu>
  </span>
</div>
  </md-toolbar>