@media only screen and (max-width: 1080px) {
.desktop{
    display: none;
}
.head{
    background-color: #312450;
}

.txt{
    height:5%;
    width: 30%;
    min-height: 50px;
    min-width: 150px;
    float: right;
 
}


.owl{
height:8%;
    width: 5%;
       min-height: 25px;
    min-width: 40px;
    float: left;
}
}
/*desktop css*/
@media only screen and (min-width: 1080px) {

.desktop{
     position: absolute;
                width: 18%; 
                top: 10%; 
}
.head{
    display: none;

    margin:0% 0% 0% 0%;
}

.owl{
    display: block;
   max-height: 150px;

margin-left:30%;

}

.txt{
display: block;
 max-height: 25px;
 margin-left:20%;
}

ul{
   list-style: none;
    height: inherit;
    line-height: inherit;
    
}

li{
    text-align: right;
    margin: 20% 0% 5% 0%;
}
hr.style1{
     background-color: #b74e91; height: 1px; border: 0;
    margin: 0 0 10% 0;
    width: 100%;
}

hr.style2{
    background-color: #3c2c62; height: 1px; border: 0;
    margin: 0 0 10% 0;
}
a{
   text-decoration: none;
   color: #DCDCDC; 
}
a.active-link{
    text-decoration: none;
    color: white;
}


}
